{delpackage HomePage}
{namespace gsgae.templates.home}

/**
 * The home page.
 */
{deltemplate gsgae.templates.impl.content}
  <section id="resultset">
    {call gsgae.templates.query.resultHeader data="all"/}
  </section>
{/deltemplate}
