{namespace gsgae.templates.home}

/**
 * The home page.
 * @param page Data about the page.
 */
{template .main autoescape="contextual"}
<!DOCTYPE html>
<html>
  <head>
    <title>{$page.title}</title>
  </head>
  <body>
    <header><h1>{$page.title}</h1></header>
    <section id="main">
      {call gsgae.templates.query.resultHeader data="all"/}
    </section>
  </body>
</html>
{/template}