{namespace gsgae.templates.home}

/**
 * The home page.
 */
{template .main autoescape="contextual"}
  {call gsgae.templates.base.main data="all"}
    {param mainContent kind="html"}
      <section id="resultset">
        {call gsgae.templates.query.resultHeader data="all"/}
      </section>
    {/param}
  {/call}
{/template}
