{namespace gsgae.templates.query}

/**
 * Query results header.
 * @param query The query.
 */
{template .resultHeader autoescape="contextual"}
<header>
  <h2>Results for <em>{$query}</em></h2>
</header>
{/template}
